*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    background: #f2f2f2;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}

nav .nav-item p{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    /*font-family: 'Courier New', Courier, monospace;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: "Tinos", serif;
}

.gallery-container{
    display: flex;
    flex-direction: column;
    padding:10em 2em 10em 2em;
    gap: 4em;
}

.first-row{
    display: flex;
    flex-direction: row;
    gap: 10em;
}

.second-row{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.third-row{
    display: flex;
    flex-direction: row;
    gap: 4em;
}

#img01 {
    width: 600px;
    height: 800px;
    margin-left: 30%;
}

#img02 {
    width: 600px;
    height: 800px;

}

#img03 {
    width: 600px;
    height: 800px;
    margin-left: 20%;
}

#img04 {
    width: 600px;
    height: 800px;
    margin-left: 0%;
}


.img img{
    width: 100%;
    height: 100%;
}

.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 60vw;
    position: absolute;
    left: 2em;
    padding-bottom: 4em;
    font-size: 14px;
    font-weight: 600;
}

.studio,
.email,
.links,
.location{
    display: flex;
    flex-direction: column;
}

.links{
    margin-top: 2em;
}

.footer-mobile,
.mobile-nav,
.overlay{
    display: none;
}



@media (max-width:768px) {

    nav {
        display: none;
    }

    .footer{
        display: none;
    }

    .gallery-container{
        display: flex;
        flex-direction: column;
        padding:6em 1.5em 6em 1.5em;
        gap: 2em;
        width: 100%;
    }
    
    .first-row,
    .second-row,
    .third-row{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .first-row{
        gap: 2em;
    }
    
    .second-row{
        gap: 2em;
    }
    
    .third-row{
        gap: 2em;
    }

    #img01,
    #img02,
    #img03,
    #img04 {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    
    
    .img img{
        width: 100%;
        height: 100%;
    }

    .footer-mobile{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        padding-left: 1.5em;
        padding-right: 1.5em;
        position: absolute;
        padding-bottom: 4em;
        font-size: 14px;
        font-weight: 600;
    }

    .left-ctn{
        grid-column: 1;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .contact{
        grid-column: 2;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    
    .links{
        margin-top: 0;
    }

    .mobile-nav {
        color: #333;
        padding: 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        width: 100vw;
        top: 0;
        z-index: 1000;
    }

    #logo a{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: "Tinos", serif;
        visibility: visible;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 16px;
    }

    #menuToggle {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
    }

    .menu-toggle a{
        color: #333;

    }

    .overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 100%;
        background-color: #f2f2f2;
        color: black;
        display: flex;
        justify-content: start;
        padding: 0 1.5em;
        align-items: center;
        transition: left 0.3s ease-in-out;
        z-index: 999;
    }

    .nav-content {
        display: flex;
        flex-direction: column;
        gap: 6em;
        text-align: left;
        height: 100%;
        justify-content: center;
    }

    .main-links,
    .secondary-links {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
    }
    
    .main-links a {
        font-size: 2em;
        text-decoration: none;
        color: black;
        margin: 0;
        font-family: "Tinos", serif;
        line-height: 1.2;
    }

    .main-links p{
        opacity: 0.5;
    }

    .copy-rights{
        position: absolute;
        bottom: 4em;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
    }

    .secondary-links a {
        font-size: 16px;
        color: black;
        font-weight: 200;
        opacity: 0.5;
        text-transform: lowercase;
        font-family: 'Open Sans', sans-serif;
    }

    .secondary-links p {
        font-size: 16px;
        color: black;
        font-weight: 200;
        opacity: 0.5;
        margin-top: 0.2em;
        font-family: 'Open Sans', sans-serif;
    }

    .links-menu{
        padding-top: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 0.1em;
    }

    .overlay.active {
        left: 0;
        color: black;
    }

}