*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    background: #f2f2f2;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}

nav .nav-item p{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    /*font-family: 'Courier New', Courier, monospace;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: "Tinos", serif;
}

#scroll-percentage {
    position: fixed;
    bottom: 13em;
    right: 4em;
    font-size: 14px;
    font-family: "Tinos", serif;
    font-weight: 600;
    color: #000;
    z-index: 1000;
}

.gallery-container{
    display: flex;
    flex-direction: column;
    padding:10em 2em 4em 2em;
    gap: 4em;
}

.first-row{
    display: flex;
    flex-direction: row;
    gap: 9em;
}

.second-row{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.third-row{
    display: flex;
    flex-direction: row;
    gap: 2em;
}


#img01 {
    width: 31.25vw;
    height: calc(31.25vw * 1.33);
}

#img02 {
    width: 23.44vw;
    height: calc(23.44vw * 1.33);
}

#img03 {
    width: 62.5vw;
    height: calc(62.5vw * 9 / 16); /* Adjusted for 16:9 ratio */
}

#img04 {
    width: 15.63vw;
    height: calc(15.63vw * 1.33);
}

#img05 {
    width: 45.31vw;
    height: calc(45.31vw * 1);
}

#img06 {
    width: 62.5vw;
    height: calc(62.5vw * 9 / 16); /* Adjusted for 16:9 ratio */
}


.img img{
    width: 100%;
    height: 100%;
}

.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 4em;
    width: 60vw;
    font-size: 14px;
    font-weight: 600;
    font-family: "Tinos", serif;
}


.links,
.location,
.studio{
    display: flex;
    flex-direction: column;
}

.email{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.general-contact,
.workshops-contact{
    display: flex;
    flex-direction: column;
}

.links{
    margin-top: 2em;
}

.footer-mobile,
.mobile-nav,
.overlay{
    display: none;
}

.credits-mobile{
    display: none;
}

/* Menu Desktop & Mobile */
.mobile-nav {
    position: fixed;
    color:black;
    padding: 2em;
    display: none;
    width: 10vw;
    right: 0.5em;
    top: 0;
    z-index: 1000;
}


#menuText{
    color: transparent;
}


#menuText, #closeText{
    font-family: "Tinos", serif;
    font-size: 12px;
}

#logo a{
    visibility: hidden;
}


.menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 16px;
}

#menuToggle {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;

}

.menu-toggle a{
    color: black;

}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100%; 
    left: 0;    
    background-color: #f2f2f2;
    color: black;
    display: flex;
    justify-content: start;
    padding: 0 1.5em;
    align-items: center;
    transition: top 0.5s ease-in-out; 
    z-index: 999;
} 

.nav-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 6em;
    text-align: left;
    height: 100%;
    padding-top: 2em;
}

.logo-desktop{
    text-transform: uppercase;
    font-family: "Tinos", serif;
    font-size: 12px;
    font-weight: 600;
}

.main-links,
.secondary-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.main-links a {
    font-size: 2.5em;
    text-decoration: none;
    color: black;
    margin: 0;
    font-family: "Tinos", serif;
    line-height: 1.2;
    text-transform: uppercase;
    font-style: italic;
}

.main-links p{
    opacity: 0.5;
}


.secondary-links a {
    font-size: 16px;
    color: black;
    font-weight: 200;
    opacity: 0.5;
    text-transform: lowercase;
    font-family: 'Open Sans', sans-serif;
}

.secondary-links p {
    font-size: 16px;
    color: black;
    font-weight: 200;
    opacity: 0.5;
    margin-top: 0.2em;
    font-family: 'Open Sans', sans-serif;
}

.links-menu{
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

.credits-mobile{
    display: none;
}

.copy-rights{
    position: absolute;
    bottom: 2em;
    font-size: 12px;
    right: 2em;
    font-family: "Open Sans", sans-serif;
}

.credits{
    position: absolute;
    bottom: 2em;
    font-size: 12px;
    left: 2em;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}

.overlay.active {
    top: 0; 
    color: black;
}


@media (max-width:768px) {

    nav{
        display: none;
    }

    #scroll-percentage{
        display: none;
    }

    .footer{
        display: none;
    }

    .gallery-container{
        display: flex;
        flex-direction: column;
        padding:6em 1.5em 6em 1.5em;
        gap: 2em;
        width: 100vw;
    }
    
    .first-row,
    .second-row,
    .third-row{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .first-row{
        gap: 2em;
    }
    
    .second-row{
        gap: 2em;
    }
    
    .third-row{
        gap: 2em;
    }

    #img01,
    #img02,
    #img03,
    #img04,
    #img05,
    #img06 {
        width: 100%;
        height: auto;
    }

    
    .img img{
        width: 100%;
        height: 100%;
    }

    
    .footer-mobile{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        padding-left: 1.5em;
        padding-right: 1.5em;
        position: relative;
        padding-bottom: 4em;
        font-size: 14px;
        font-weight: 600;
        font-family: "Tinos", serif;
    }

    .left-ctn{
        grid-column: 1;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .contact{
        grid-column: 2;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    
    .links,
    .location,
    .studio{
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }

    .email{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .links{
        font-weight: 400;
    }
    
    .general-contact,
    .workshops-contact{
        display: flex;
        flex-direction: column;
    }

    .general-contact a,
    .workshops-contact a{
       font-weight: 400;
    }

    .general-contact span,
    .workshops-contact span{
        font-weight: 600;
    }

    .mobile-nav {
        color:black;
        padding-top: 1.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100vw;
        right: 0em;
        top: 0;
        z-index: 1000;
    }

    #menuText{
        color: black;
    }

    #menuText, #closeText{
        font-family: "Tinos", serif;
        font-size: 12px;
    }

    #logo a{
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: "Tinos", serif;
        visibility: visible;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 16px;
    }

    #menuToggle {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
    }

    .menu-toggle a{
        color: black;

    }

    .overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        top: -100%; 
        left: 0;    
        background-color: #f2f2f2;
        color: black;
        display: flex;
        justify-content: start;
        padding: 0 1.5em;
        align-items: center;
        transition: top 0.5s ease-in-out; 
        z-index: 999;
    } 

    .nav-content {
        display: flex;
        flex-direction: column;
        gap: 6em;
        text-align: left;
    }

    .main-links,
    .secondary-links {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
    }
    
    .main-links a {
        font-size: 2em;
        text-decoration: none;
        color: black;
        margin: 0;
        font-family: "Tinos", serif;
        line-height: 1.2;
    }

    .main-links p{
        opacity: 0.5;
    }

    .secondary-links a {
        font-size: 16px;
        color: black;
        font-weight: 200;
        opacity: 0.5;
        text-transform: lowercase;
        font-family: 'Open Sans', sans-serif;
    }

    .secondary-links p {
        font-size: 16px;
        color: black;
        font-weight: 200;
        opacity: 0.5;
        margin-top: 0.2em;
        font-family: 'Open Sans', sans-serif;
    }

    .credits,
    .copy-rights{
        display: none;
    }

    .credits-mobile{
        display: block;
        position: absolute;
        bottom: 2em;
        font-size: 12px;
        left: 2em;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
    }

    .links-menu{
        padding-top: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 0.1em;
    }

    .overlay.active {
        top: 0; 
        color: black;
    }
}