
@media (max-width:768px) {
    .mobile-nav {
        /*color: #333333;*/
        color: #333;
        padding: 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
        /*display: none;*/
    }

    #logo a{
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        visibility: hidden;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 16px;
    }

    #menuToggle {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
    }

    .menu-toggle a{
        color: #333;

    }

    .overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 100%;
        background-color: #000;
        color: #f2f2f2;
        display: flex;
        justify-content: start;
        padding: 0 2em;
        align-items: center;
        transition: left 0.3s ease-in-out;
        z-index: 999;
    }

    .nav-content {
        display: flex;
        flex-direction: column;
        gap: 6em;
        text-align: left;
    }

    .main-links,
    .secondary-links {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
    }
    
    .main-links a {
        font-size: 2.5em;
        text-decoration: none;
        color: #f2f2f2;
        margin: 0;
    }

    .copy-rights{
        position: absolute;
        bottom: 2em;
        font-size: 14px;
    }

    .secondary-links a {
        font-size: 16px;
        color: #f2f2f2;
        font-weight: 200;
        opacity: 0.5;
        text-transform: lowercase;
    }

    .secondary-links p {
        font-size: 16px;
        color: #f2f2f2;
        font-weight: 200;
        opacity: 0.5;
        margin-top: 0.2em;
    }

    .links-menu{
        padding-top: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 0.1em;
    }

    .overlay.active {
        left: 0;
        color: #f2f2f2;
    }


    .about-page-mobile{
        display: flex;
        flex-direction: column;
        gap: 18vw;
    }

    .about-text{
        width: 85%;
        box-sizing: border-box;
        padding:6em 1.5em 0em 1.5em;
    }

    h1{
        font-size: 2.461rem;
        margin: 0;
        display: inline-block;
        text-wrap: nowrap;
    }

    .mobile-content{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        box-sizing: border-box;
        padding: 1.5em;
        justify-content: space-between;
    }

    .contact{
        margin-left: 0;
        padding-top: 1em;
    }

    .img{
        display: flex;
        justify-content: start;
        align-items: start;
        width: 200px;
        height: auto;
    }
    
    .img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .footer-mobile{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-top: 4em;
        box-sizing: border-box;
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-bottom: 2.5em;
        font-weight: 600;
        gap: 2em;
    }

    .footer-mobile a{
        font-size: 14px;
        text-transform: lowercase;
        font-weight: 600;
    }

    .right-ctn{
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 3em;
    }

    .location{
        display: flex;
        flex-direction: column;
        gap: 0.2em;
    }

    .location :nth-child(2){
        font-size: 14px;
    }

    .contact{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .email span{
        font-size: 14px;
    }

    .links{
        display: flex;
        flex-direction: column;
        gap: 0.2em;
    }
    
}