*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    background: #f2f2f2;
}



img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: #f7f7f7;
}

img.loaded {
    opacity: 1;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75em 2em;
    z-index: 2;
    display: grid;
}

nav .right-ctn{
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1.6em;
    /*gap: 3.6em;*/
}

/*nav .nav-item p{
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 400;
    padding: 1em 0.25em;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
}*/

nav .nav-item p{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    padding: 1em 0.25em;
    cursor: pointer;
    /*font-family: "Open Sans", sans-serif;*/
    font-family: 'Courier New', Courier, monospace;
}

nav .nav-item span{
    font-size: 12px;
}

.nav-item {
    display: inline-block; /* To align them horizontally */
    opacity: 1; /* Start fully visible */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition for opacity and transformation */
}

/* Hidden state */
.nav-item.hidden {
    opacity: 0; /* Fade out */
    transform: translateY(-10px); /* Move up slightly */
    pointer-events: none; /* Prevent interaction */
    transition: opacity 0.5s ease 0.1s, transform 0.5s ease; /* Adding delay to hidden transition */
}


.project-title{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 600px;
    padding-bottom: 1em;
}

.project-title :nth-child(1) {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.project-title :nth-child(2) {
    font-family: 'Courier New', Courier, monospace;
}


.img-previews{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    opacity: 0;
}


.img-previews img{
    width: 600px;
    height: 800px;
    padding-bottom: 4em;
    background: #f2f2f2;
}


.gallery-container{
    width: 100%;
    height: 100%;
    padding-top: 7em;
}

.gallery.layout-1-gallery{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateX(0%);
}

.gallery.layout-1-gallery .img{
    position: absolute;
    width: 230px;
    height: 300px;
    /*width: 230px;
    height: 255px;*/
    cursor: pointer;
}

.gallery.layout-1-gallery #img1,
.gallery.layout-1-gallery #img2,
.gallery.layout-1-gallery #img3{
    top: 0%;
}

.gallery.layout-1-gallery #img1{
    left: 2em;
}

.gallery.layout-1-gallery #img2{
    left: 65%;
}

.gallery.layout-1-gallery #img3{
    right: 2em;
}


.gallery.layout-1-gallery #img4,
.gallery.layout-1-gallery #img5,
.gallery.layout-1-gallery #img6 {
    top: 50%;
}

.gallery.layout-1-gallery #img4{
    left: 2em;
}

.gallery.layout-1-gallery #img5{
    left: 20%;
}

.gallery.layout-1-gallery #img6{
    right: 2em;
}

/*.gallery.layout-1-gallery #img9,
.gallery.layout-1-gallery #img10{
    top: 50%;
}

.gallery.layout-1-gallery #img11,
.gallery.layout-1-gallery #img12,
.gallery.layout-1-gallery #img13,
.gallery.layout-1-gallery #img14 {
    top: 75%;
}


.gallery.layout-1-gallery #img1,
.gallery.layout-1-gallery #img5,
.gallery.layout-1-gallery #img11 {
    left: 2em;
}

.gallery.layout-1-gallery #img2 {
    left: 15%;
}

.gallery.layout-1-gallery #img3,
.gallery.layout-1-gallery #img9 {
    left: 45%;
}

.gallery.layout-1-gallery #img4,
.gallery.layout-1-gallery #img10,
.gallery.layout-1-gallery #img12 {
    left: 65%;
}

.gallery.layout-1-gallery #img13 {
    left: 75%;
}

.gallery.layout-1-gallery #img6 {
    left: 25%;
}

.gallery.layout-1-gallery #img7 {
    right: 15%;
}

.gallery.layout-1-gallery #img8,
.gallery.layout-1-gallery #img14 {
    right: 2em;
} */

.gallery.layout-1-gallery #img15,
.gallery.layout-2-gallery #img15  {
    visibility: hidden;
}


.gallery.layout-2-gallery{
    padding-top: 0.5em;
    position: fixed;
    /*top: 25%;*/
    top: 25%;
    left: 10%;
    transform: translateX(0%);
}

.gallery.layout-2-gallery .img{
    width: 75px;
    height: 100px;
    margin-bottom: 1em;
}

.minimap{
    position: fixed;
    top: 25%;
    /*top: 25%;*/
    left: 12.5%;
    transform: translateX(-50%);
    width: 140px;
    height: 90px;
    border: 0.5px solid black;
    border-radius: 2px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
}

.gallery.layout-3-gallery{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateX(0%);
}

.gallery.layout-3-gallery .img{
    position: absolute;
    top: 0em;
    /*top: 4em;*/
    right: 2em;
    width: 300px;
    height: 400px;
}

.text-container{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 1em;
}

.about-clients-ctn{
    position: absolute;
    padding-left: 2em;
    top: 0em;
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    gap: 2em;
    width: 70vw;
}

.gallery-text{
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.gallery-text p{
    line-height: 150%;
}

.clients-text{
    font-size: 3.1em;
    line-height: 100%;
    margin: 0;
    width: 100%;
    font-style: italic; 
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: 200;
}

/*.clients-text :nth-child(2),
.clients-text :nth-child(4),
.clients-text :nth-child(6),
.clients-text :nth-child(8),
.clients-text :nth-child(10){
    margin-left: 4vw;
}*/

.clients-text :nth-child(2),
.clients-text :nth-child(4),
.clients-text :nth-child(6){
    margin-left: 8vw;
}

.clients-text :nth-child(3),
.clients-text :nth-child(7),
.clients-text :nth-child(9){
    margin-left: 2.5vw;
}

/*.clients-text :nth-child(6){
    margin-left: 12vw;
}*/


.contact-text{
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2em;
    font-size: 14px;
    font-weight: 400;
    /*font-family: "Open Sans", sans-serif;*/
    font-family: 'Courier New', Courier, monospace;
 
    /*position: relative;*/
    position: absolute;
    right: 9.5em;
    top: 65%;
    margin-left: auto;
}

.links-about{
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.studio{
    visibility: hidden;
}


a{
    text-decoration: none;
    color: black;
}

.workshops-ctn{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
}

.img-workshops{
    width: 30vw;
    height: auto;
}

.workshops-text p,
.workshops-ctn p{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
}

.workshops-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-weight: 200;
}

.workshops-text p{
    width: 70%;
}

.workshops-button a{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.home-mobile,
.mobile-nav,
.overlay{
    display: none;
}


.lenis.lenis-smooth{
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent]{
    overscroll-behavior: contain;
}

.lenis.lenis-stopped{
    overflow: hidden;
}

.lenis.lenis.lenis-smooth iframe{
    pointer-events: none;
}

.gallery.layout-1-gallery .text-container,
.gallery.layout-2-gallery .text-container{
    display: none;
}


@media (max-width:768px) {

    nav{
        display: none;
    }

    .gallery-container{
        width: 100%;
        height: 100%;
        /*padding-top: 4em;*/
        padding: 6em 1.5em 2.5em 1.5em;
    }
    
    .gallery.layout-1-gallery{
        position: relative;
        width: 100%;
        height: 100%;
       /* transform: translateX(-9%); */
    }
    
    .gallery.layout-1-gallery .img{
        position: absolute;
        width: 90px;
        height: 115px;
        cursor: pointer;
        /*width: 100px;
        height: 125px;*/
    }

    .gallery.layout-1-gallery #img1{
        top: 0%;
        left: 0%;
    }

    .gallery.layout-1-gallery #img3{
        top: 0%;
        left: 27%;
        /*left: 40%;*/
    }

    .gallery.layout-1-gallery #img2{
        visibility: hidden;
    }

    .gallery.layout-1-gallery #img4 {
        top: 36%;
        left: 0%;
    }

    .gallery.layout-1-gallery #img5 {
        top: 36%;
        left: 48%;
    }

    .gallery.layout-1-gallery #img6 {
        top: 36%;
        left: 75%;
    }

    .gallery.layout-1-gallery #img7 {
        top: 18%;
        left: 48%;
    }

    .gallery.layout-1-gallery #img8 {
        top: 18%;
        left: 75%;
    }

    .gallery.layout-1-gallery #img12 {
        top: 54%;
        left: 0%;
    } 

    .gallery.layout-1-gallery #img13 {
        top: 54%;
        left: 75%;
    } 

    .gallery.layout-1-gallery #img9,
    .gallery.layout-1-gallery #img10,
    .gallery.layout-1-gallery #img11,
    .gallery.layout-1-gallery #img14{
        visibility: hidden;
    }

    .minimap{
        display: none;
    }

    .gallery.layout-2-gallery {
        display: none;
    }

    .img-previews{
        /*position: absolute;
        top: 15%;
        left: 50%;*/
        transform: translateX(-50%);
        width: 100%;
        box-sizing: border-box;
        padding:0 1.5em 2.5em 1.5em;
        opacity: 0;
        background: #f2f2f2;
    }
    

    .img-previews img{
        width: 380px;
        height: 580px;
        padding-bottom: 4em;
        background: #f2f2f2;
    }

    .project-title{
        display: flex;
        flex-direction: column;
        gap: 0.2em;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding-bottom: 1em;
    }
    
    .project-title :nth-child(1) {
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
    }
    
    .project-title :nth-child(2) {
        font-family: 'Courier New', Courier, monospace;
    }
    



    /*.gallery-container,
    .minimap,
    .img-previews{
        display: none;
    } */

    /*.gallery.layout-1-gallery,
    .gallery.layout-3-gallery{
        display: none;
    }*/
    
    a{
        font-size: 12px;
    }

    .nav{
        display: none;
    }

    .footer{
        display: none;
    }

    .mobile-nav {
        color: #333;
        padding: 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        width: 100vw;
        top: 0;
        z-index: 1000;
    }

    #logo a{
        font-size: 16px;
        text-transform: lowercase;
        font-weight: 400;
        font-family: "Open Sans", sans-serif;
        visibility: hidden;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 16px;
    }

    #menuToggle {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
    }

    .menu-toggle a{
        color: #333;

    }

    .overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 100%;
        background-color: #f2f2f2;
        color: black;
        display: flex;
        justify-content: start;
        padding: 0 1.5em;
        align-items: center;
        transition: left 0.3s ease-in-out;
        z-index: 999;
    }

    .nav-content {
        display: flex;
        flex-direction: column;
        gap: 6em;
        text-align: left;
    }

    .main-links,
    .secondary-links {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
    }
    
    .main-links a {
        font-size: 2em;
        text-decoration: none;
        color: black;
        margin: 0;
        font-family: "Open Sans", sans-serif;
        line-height: 1.2;
    }

    .main-links p{
        opacity: 0.5;
    }

    .copy-rights{
        position: absolute;
        bottom: 2em;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
    }

    .secondary-links a {
        font-size: 16px;
        color: black;
        font-weight: 200;
        opacity: 0.5;
        text-transform: lowercase;
        font-family: 'Courier New', Courier, monospace;
    }

    .secondary-links p {
        font-size: 16px;
        color: black;
        font-weight: 200;
        opacity: 0.5;
        margin-top: 0.2em;
        font-family: 'Courier New', Courier, monospace;
    }

    .links-menu{
        padding-top: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 0.1em;
    }

    .overlay.active {
        left: 0;
        color: black;
    }






    .about-page-mobile{
        display: flex;
        flex-direction: column;
        gap: 18vw;
    }

    .about-text{
        width: 95%;
        box-sizing: border-box;
        padding:6em 1.5em 0em 1.5em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-family: "Open Sans", sans-serif;
    }

    .about-text p{
        line-height: 150%;
    }


    .mobile-content{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        box-sizing: border-box;
        padding: 1.5em;
        justify-content: space-between;
    }

    .clients{
        font-family: 'Courier New', Courier, monospace;
    }

    .contact{
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-left: 0;
        padding-top: 0em;
    }

    .img{
        display: flex;
        justify-content: start;
        align-items: start;
        width: 200px;
        height: auto;
    }
    
    .img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .footer-mobile{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-top: 4em;
        box-sizing: border-box;
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-bottom: 2.5em;
        font-weight: 600;
        gap: 0em;
        font-family: "Open Sans", sans-serif;
    }

    .footer-mobile a{
        font-size: 14px;
        text-transform: lowercase;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
    }

    .left-ctn{
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 2em;
        font-size: 14px;
    }

    .right-ctn{
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 3em;
    }

    .location{
        display: flex;
        flex-direction: column;
        gap: 0.2em;
    }

    .location :nth-child(2){
        font-size: 14px;
    }

    .email span{
        font-size: 14px;
        margin-top: 0;
    }

    .links{
        display: flex;
        flex-direction: column;
        gap: 0.2em;
    }

    .workshops-ctn{
        width: 100%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2em;
    }
    
    .img-workshops{
        width: 70vw;
        height: auto;
    }
    
    .workshops-text p,
    .workshops-ctn p{
        font-family: "Open Sans", sans-serif;
        font-weight: 200;
        font-size: 5vw;
    }
    
    .workshops-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    
    .workshops-text p{
        width: 70%;
    }
    
    .workshops-button a{
        font-size: 14px;
    }

}


    /*.workshops-ctn{
        width: 100%;
        height:100%;
        padding: 0 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2em;
    }

    .workshops-text p,
    .workshops-ctn p{
        font-family: 'Courier New', Courier, monospace;
        font-weight: 200;
        font-size: 2vw;
    }

    .workshops-text {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .workshops-button a{
        font-size: 14px;
    }*/

    






                /*<div class="img" id="img15">
                    <img src="./assets/adidas.webp" alt="Image Description">
                </div>*/
